.one h1 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.one h1:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -50px;
  background-color: #b80000;
}

.formcenter{
	display : inline-block;
	background-color: white;
	padding: 10px;
	box-shadow: -3px -3px 7px #ffffff,
               3px 3px 5px #ceced1;
	width: 400px;
	height: 250px;
	margin: auto;
	position: absolute;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;	
	background-color: #ceced1;
}

.centerdiv{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}