@charset "UTF-8";
	
.logo {
	margin-top: 5px;
	margin-left: 5px;		
	width:45px;
	height: 45px;
}
.float-left {
	
	margin: 10px;
}

.thumimg {
	border-color: black;
	width: 300px;
    height: 200px;
    padding: 0px;
	border:1px solid;
    border-radius: 30px; 
}
.vt, .vrd {
	color: black;
	margin: 10px 0;
}
a:hover {
	color: white;
	text-decoration: none;
}
.contents > .videolist {
  width: 100%;
}